<%- include header %>
        <!--<div class="text-center page-title"><%= title %></div>-->
        <div class="container">
            <div class="jumbotron">
                <h1 class="text-center" style="font-family: 方正姚体"> 在线日记本</h1>
                <h3 class="text-center" style="font-family: 方正姚体">欢迎来到在线日记本, 一起开启新的旅程</h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h3 style="font-family: 微软雅黑">昨天</h3>
                    <p style="font-family: 华文细黑">昨天的你正在憧憬未来</p>
                    <p style="font-family: 华文细黑">走在林荫小道间，幻想着坐在山巅，俯视着城市间的高楼大厦</p>
                </div>
                <div class="col-sm-4">
                    <h3 style="font-family: 微软雅黑">今日</h3>
                    <p style="font-family: 华文细黑">今日的你埋头奋战，打造着未来</p>
                    <p style="font-family: 华文细黑">忙于学校与实习的道路上，忍受着沉重的工作和烦嚣的红灯绿酒</p>
                </div>
                <div class="col-sm-4">
                    <h3 style="font-family: 微软雅黑">明朝</h3>
                    <p style="font-family: 华文细黑">伴着明日的朝阳，你睁开双眼，回忆过去</p>
                    <p style="font-family: 华文细黑">在温暖舒适的床上醒来，拉开窗帘，眺望朝阳，你回首过去，微笑着看着眼前曾经的未来</p>
                </div>
            </div>
        </div>
<%- include footer %>