<%- include header %>
        <!--<div class="text-center page-title"><%= title %></div>-->
        <div class="container">
            <div class="jumbotron">
                <h1> my first Bootstrap page</h1>
                <p>reset size of window and see the response effect</p>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h3>first column</h3>
                    <p>not only the technology but also the dream</p>
                    <p>no matter how cool your dreams, can not withstand you insistence</p>
                </div>
                <div class="col-sm-4">
                    <h3>second column</h3>
                    <p>not only the technology but also the dream</p>
                    <p>no matter how cool your dreams, can not withstand you insistence</p>
                </div>
                <div class="col-sm-4">
                    <h3>third column</h3>
                    <p>not only the technology but also the dream</p>
                    <p>no matter how cool your dreams, can not withstand you insistence</p>
                </div>
            </div>
        </div>
<%- include footer %>